In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Example of loading image data using the `kittens` dataset that ships with Spark

Refer to ML Main Guide for more info: https://spark.apache.org/docs/latest/ml-datasource#image-data-source

The schema of the image column is:
- origin: StringType (represents the file path of the image)
- height: IntegerType (height of the image)
- width: IntegerType (width of the image)
- nChannels: IntegerType (number of image channels)
- mode: IntegerType (OpenCV-compatible type)
- data: BinaryType (Image bytes in OpenCV-compatible order: row-wise BGR in most cases)

In [22]:
PATH = "/usr/local/spark-2.4.3-bin-hadoop2.7/data/mllib/images/origin/kittens"
df = (
    spark.read.format("image")
    .option("dropInvalid", True)
    .load(PATH)
    .select("image.origin", "image.height", "image.width", "image.nChannels", "image.mode", "image.data")
)
df.toPandas()

,origin,height,width,nChannels,mode,data
0,file:///usr/local/spark-2.4.3-bin-hadoop2.7/da...,311,300,3,16,"[193, 193, 193, 194, 194, 194, 194, 194, 194, ..."
1,file:///usr/local/spark-2.4.3-bin-hadoop2.7/da...,313,199,3,16,"[208, 229, 237, 202, 223, 231, 210, 231, 239, ..."
2,file:///usr/local/spark-2.4.3-bin-hadoop2.7/da...,200,300,3,16,"[88, 93, 96, 88, 93, 96, 88, 93, 96, 89, 94, 9..."
3,file:///usr/local/spark-2.4.3-bin-hadoop2.7/da...,296,300,3,16,"[203, 230, 244, 202, 229, 243, 201, 228, 242, ..."